body {
    display: flex;
    justify-content: center;
    z-index: 0;
    background-color: #233b9c;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 1s;
    user-select: none;
    pointer-events: none;
    object-fit: cover;
}

.login-container {
    width: 27.5rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #47474722;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.114);
    box-shadow: 0px 0px 30px #00000090;
    align-items: center;
}

.login-handler {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 10px #00000050;
    color: white;
    font-size: 2.6rem;
    height: 1.6rem;
}

h2 {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 1;
    font-size: 1rem;
}

.misc-info {
    display: flex;
    align-items: center;
    color: #ffffff30;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    user-select: none;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease;
}

.version:hover {
    transition: inherit;
    color: #fff;
    cursor: pointer;
}

.status {
    margin-top: 0.4rem;
    font-size: 0.8rem;
}

.signup-txt {
    color: white;
    transition: all 0.3s ease;
}

.signup-txt:hover {
    color: rgb(0, 242, 251);
    text-shadow: 0px 0px 15px rgb(0, 242, 251);
}

#email-input {
    margin-top: 2rem;
    text-overflow: ellipsis;
}

#pass-input {
    margin-top: 2rem;
    text-overflow: unset;
}

.input-info {
    background-color: transparent;
    border: none;
    /*border-radius: 10px;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.246);
    width: 50%;
    height: 7%;
    text-align: center;
    font-size: 1.2rem;
    outline: none;
    color: #fff;
    transition: all 0.2s ease-out;
    font-family: 'Montserrat Alternates', sans-serif;
}

.input-info::placeholder {
    transition: all 0.2s ease;
}

.input-info:valid {
    border-bottom: 1.2px solid white;
}

.input-info:hover {
    border-bottom: 1px solid aqua;
    
}

.input-info:hover::placeholder {
    color: aqua;
    text-shadow: 0 0 5px aqua;
} 

.input-info:focus {
    width: 80%;
    border-bottom: 1px transparent;
    box-shadow: 0 5px 2px -3px aqua;
}

.input-info:focus::placeholder {
    opacity: 0;
} 

#login-button {
    margin-top: 2rem;
    width: 60%;
    height: 10%;
    background-color: #00000040;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all 0.2s ease;
}

#login-button:hover {
    cursor: pointer;
    color: #0ff;
    background-color: #00000070;
    text-shadow: 0 0 8px #0af;
}


.social-button-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    gap: 2vh;  
    transition: all 1s;
    margin-bottom: 1rem;
}

.social-button {
    background-color: #47474742;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 0.2em solid rgba(255, 255, 255, 0.115);
    border-radius: 12px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social-button:hover {
    border: none;
    scale: 1.15;
}

.social-button img {
    scale: 0.33;
    user-select: none;
}

#social-shop:hover {
    background-color: rgb(50, 90, 179);
    box-shadow: 0 0 5px aqua;
}

#social-yt:hover {
    background-color: red;
    box-shadow: 0 0 3px red;

}

#social-tt:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(255, 93, 93);
}

#social-ig:hover {
    background-color: rgb(150, 0, 155);
    box-shadow: 0 0 3px rgb(239, 131, 243);
}

#social-x:hover {
    background-color: #000;
    box-shadow: 0 0 3px #000;
}