@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@100;500&display=swap');

body {
    background-color: #000;
    
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    transition: 1s;
}

#background.fade-in {
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 10%, rgba(0,0,0,0.4) 100%);
    z-index: -1;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#primary-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    transition: all 0.3s ease-out;
}

holder {
    opacity: 0;
    transition: 1s ease-in-out;
}

holder.fade-in {
    opacity: 1;
}

.title {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 4.2vh;
    color: rgb(44, 160, 255);
    text-shadow: 0px 0px 10px #000;
}

#logo {
    width: 30vh;
    height: 30vh;
}


#toggle-primary {
    width: 20vh;
    height: 5vh;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: white;
    background-color: #ffffff20;
    box-shadow: 0px 0px 5px #000;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: blur(20px);
    cursor: pointer;
    font-size: 2vh;
}

#toggle-primary:hover {
    text-shadow: 0px 0px 5px #00ccff;
    box-shadow: 0px 0px 10px #00ccff;
    background-color: #00ccff30;
}

#toggle-login {
    width: 3vh;
    height: 3vh;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    color: white;
    background-color: #ffffff10;
    box-shadow: 0px 0px 5px #3b3b3b;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: blur(20px);
    cursor: pointer;
    font-size: 2vh;
    font-weight: bolder;
}

#toggle-login:hover {
    background-color: #ffffff20;
}



#login-container {
    position: fixed;
    background-color: #ffffff0d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 32rem;
    /* outline: dashed red; */
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif, monospace;
    font-size: 1.2rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: white;
    transition: opacity 0.3s ease-out;

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 10px #00000051;
}

form {
    width: 26rem;
    height: 34rem;
    justify-content: center;
    gap: 1.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* outline: dashed blue; */
    
}

input {
    width: 90%;
    height:10%;
    background-color: #ffffff20;
    border: 1px transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000020;
    outline: none;
    padding-left: 0.7rem;
    color: #fff;
    text-shadow: 0px 0px 5px #ffffff95;
    font-size: 1rem;
    font-weight: thin;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder {
    color: #ffffff51;
    text-shadow: none;
}

.valid {
    box-shadow: 0px 0px 7px rgba(0, 255, 0, 0.9);
}

.invalid {
    box-shadow: 0px 0px 7px rgba(255, 0, 0, 0.9);
}

.container-buttons {
    /* border: dashed red; */
    width: 92%;
    height: 8%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button[class="enabled"] {
    font-size: 0.9rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: white;
    background-color: #ffffff20;
    box-shadow: 0px 0px 5px #00000041;
    font-family: 'Montserrat', sans-serif;
  }
  
  button[class="enabled"]:hover {
    font-size: 1rem;
    color: #ffffff;
    background-color: #00ccff3c;
    text-shadow: 0px 0px 5px #00ccff;
    box-shadow: 0px 0px 10px #00ccff;
  }

  button[class="disabled"] {
    font-size: 0.9rem;
    cursor: not-allowed;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    color: rgb(137, 137, 137);
    background-color: #ffffff20;
    box-shadow: 0px 0px 5px #00000041;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    font-style: italic;
    opacity: 50%;
  }

  #social-buttons {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    gap: 2vh;  
    padding-bottom: 1rem;
    opacity: 0;
    transition: all 1s;
  }

  #social-buttons.fade-in {
    opacity: 1;
  }

  .social-button {
    border: 2px dashed red;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: white;
    background-color: #ffffff20;
    box-shadow: 0px 0px 5px #00000041;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-button img {
    width: 4vh;
    height: 5vh;
    object-fit: contain; 
  }

  .social-button[id="youtube-button"]:hover {
    background-color: #ff00003c;
    box-shadow: 0px 0px 10px #ff0000;

  }

  .social-button[id="instagram-button"]:hover {
    background-color: #ff00803c;
    box-shadow: 0px 0px 10px #ff0080;
  }

  .social-button[id="twitter-button"]:hover {
    background-color: #00aeff3c;
    box-shadow: 0px 0px 10px #00aeff;
  }

  .social-button[id="tiktok-button"]:hover {
    background-color: #ff000023;
    box-shadow: 0px 0px 10px #ff0080;
  }