@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@500&display=swap');


:root {
    --primary-color: #003;
    --secondary-color: #000;
    --button-bg-color: #00e1ff30;
    --button-shadow: 0px 0px 10px #00e1ff;
}

body {
    background-color: rgb(24, 24, 24);
    background-image: linear-gradient(to top, var(--primary-color), var(--secondary-color));
    background-attachment: fixed;
    color: #fff;
}

#primary-holder {
    /* border: 1px dashed red; */
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}

#primary-panel {
    /* border: 1px dashed green; */
    position: fixed;
    width: 95vw;
    height: inherit;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
    background-color: #ffffff2f;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
}

#searchbar {
    width: 30rem;
    height: 3rem;
    background-color: #ffffff20;
    border: 1px transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000020;
    outline: none;
    padding-left: 0.7rem;
    color: #fff;
    text-shadow: 0px 0px 5px #ffffff95;
    font-size: 1rem;
    font-weight: thin;
    font-family: 'Pathway Extreme', sans-serif;
    transition: all 0.3s ease;
}

#searchbar::placeholder {
    color: #ffffff51;
    text-shadow: none;
}

#searchbar:focus {
    box-shadow: 0px 0px 10px #41b3ff;
    background-color:#41b3ff20;
}

#primary-panel h1 {
    font-size: 3.3rem;
}

#button-holder {
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    gap: 1.5rem;
}

.resources {
    width: 70px;
    height: 70px;
    background-color: #ffffff30;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000080;
    color: #fff;
    font-family: 'Varela Round', sans-serif;    
    cursor: pointer;
    transition: all 0.3s ease;
}

.resources img {
    width: 3.3rem;
    height: 3.3rem;
    object-fit: contain; 
  }

.resources:hover {
    background-color: var(--button-bg-color);
    box-shadow: var(--button-shadow);
}


#discover-holder {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

#discover-panel {
    position: fixed;
    width: 95vw;
    height: inherit;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.3rem;
}

/* Background */
  